@import url('./root.css');
section{
    margin-top: 50px;
}

.--title{
    color: var(--primary-color);
}

body {
    overflow-x: hidden;
}

.--list-property-button{
    background-color: var(--primary-color);
    color : white;  
    cursor: pointer;
}

.--list-property-button:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}